#                                                **PROYECTO INDIVIDUAL Nº1**


                                              **Machine Learning Operations (MLOps)**


---

In [1]:
import pandas as pd
import ast
import numpy as np

##                                                # **Transformaciones 2da parte**

In [2]:
# Leer el archivo Excel 
file_path = "movies_dataset.csv"
df = pd.read_csv(file_path)

C:\Users\Pc - Jujuy\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3508: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

***Los valores nulos de los campos revenue, budget deben ser rellenados por el número 0.***

In [3]:
df.isnull()*1

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return
0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0
1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0
45462,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0
45463,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
45464,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0
45465,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0

In [4]:
df.fillna("aqui")

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return
0,Toy Story Collection,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,aqui,United States of America,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,aqui,Toy Story,7.7,5415.0,1995.0,12.45
1,aqui,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,aqui,United States of America,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995.0,4.04
2,Grumpy Old Men Collection,0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,aqui,United States of America,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995.0,0.00
3,aqui,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,aqui,United States of America,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,1995.0,5.09
4,Father of the Bride Collection,0.0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,aqui,United States of America,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,1995.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,aqui,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",439050,fa,Rising and falling between a man and woman.,0.072051,aqui,Iran,aqui,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,4.0,1.0,aqui,0.00
45462,aqui,0.0,"[{'id': 18, 'name': 'Drama'}]",111109,tl,An artist struggles to finish his work while a...,0.178241,aqui,Philippines,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,aqui,Century of Birthing,9.0,3.0,2011.0,0.00
45463,aqui,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,"When one of her hits goes wrong, a professiona...",0.903007,aqui,United States of America,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,3.8,6.0,2003.0,0.00
45464,aqui,0.0,[],227506,en,"In a small town live two brothers, one a minis...",0.003503,aqui,Russia,1917-10-21,0.0,87.0,[],Released,aqui,Satan Triumphant,0.0,0.0,1917.0,0.00
45465,aqui,0.0,[],461257,en,50 years after decriminalisation of homosexual...,0.163015,aqui,United Kingdom,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,aqui,Queerama,0.0,0.0,2017.0,0.00

In [5]:
df.fillna(0)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return
0,Toy Story Collection,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,0.0,United States of America,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,0,Toy Story,7.7,5415.0,1995.0,12.45
1,0,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,0.0,United States of America,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995.0,4.04
2,Grumpy Old Men Collection,0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,0.0,United States of America,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995.0,0.00
3,0,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,0.0,United States of America,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,1995.0,5.09
4,Father of the Bride Collection,0.0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,0.0,United States of America,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,1995.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,0,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",439050,fa,Rising and falling between a man and woman.,0.072051,0.0,Iran,0,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,4.0,1.0,0.0,0.00
45462,0,0.0,"[{'id': 18, 'name': 'Drama'}]",111109,tl,An artist struggles to finish his work while a...,0.178241,0.0,Philippines,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,0,Century of Birthing,9.0,3.0,2011.0,0.00
45463,0,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,"When one of her hits goes wrong, a professiona...",0.903007,0.0,United States of America,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,3.8,6.0,2003.0,0.00
45464,0,0.0,[],227506,en,"In a small town live two brothers, one a minis...",0.003503,0.0,Russia,1917-10-21,0.0,87.0,[],Released,0,Satan Triumphant,0.0,0.0,1917.0,0.00
45465,0,0.0,[],461257,en,50 years after decriminalisation of homosexual...,0.163015,0.0,United Kingdom,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,0,Queerama,0.0,0.0,2017.0,0.00

**Los valores nulos del campo release date deben eliminarse.**

In [6]:
df.dropna(subset=['release_date'])

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return
0,Toy Story Collection,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,NaN,United States of America,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,1995.0,12.45
1,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,NaN,United States of America,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995.0,4.04
2,Grumpy Old Men Collection,0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,NaN,United States of America,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995.0,0.00
3,NaN,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,NaN,United States of America,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,1995.0,5.09
4,Father of the Bride Collection,0.0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,NaN,United States of America,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,1995.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,en,"Yet another version of the classic epic, with ...",5.683753,NaN,Canada,1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,5.7,26.0,1991.0,0.00
45462,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",111109,tl,An artist struggles to finish his work while a...,0.178241,NaN,Philippines,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,9.0,3.0,2011.0,0.00
45463,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,"When one of her hits goes wrong, a professiona...",0.903007,NaN,United States of America,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,3.8,6.0,2003.0,0.00
45464,NaN,0.0,[],227506,en,"In a small town live two brothers, one a minis...",0.003503,NaN,Russia,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,0.0,0.0,1917.0,0.00
45465,NaN,0.0,[],461257,en,50 years after decriminalisation of homosexual...,0.163015,NaN,United Kingdom,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,0.0,0.0,2017.0,0.00

**De haber fechas, deberán tener el formato AAAA-mm-dd, además deberán crear la columna release_year donde extraerán el año de la fecha de estreno.**

In [7]:
print(df["release_date"].head(5))

0    1995-10-30
1    1995-12-15
2    1995-12-22
3    1995-12-22
4    1995-02-10
Name: release_date, dtype: object

In [8]:
columns_names = df.columns.values
columns_names

array(['belongs_to_collection', 'budget', 'genres', 'id',
       'original_language', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline',
       'title', 'vote_average', 'vote_count', 'release_year', 'return'],
      dtype=object)

In [9]:


# Convertir la columna 'release_date' al tipo datetime, ignorando errores y convirtiendo valores no válidos a Nan
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')

# Verificar si hay valores NaT en la columna 'release_date'
print(df[df['release_date'].isnull()])

# Crear una nueva columna 'release_year' que contenga solo el año
df['release_year'] = df['release_date'].dt.year
df

      belongs_to_collection  budget  \
711                     NaN     0.0
734                     NaN     0.0
3460                    NaN     0.0
3628                    NaN     0.0
5879                    NaN     0.0
...                     ...     ...
45148                   NaN     0.0
45203                   NaN     0.0
45338                   NaN     0.0
45410                   NaN     0.0
45461                   NaN     0.0

                                                  genres      id  \
711                                                   []  365371
734                                                   []  215107
3460                       [{'id': 18, 'name': 'Drama'}]   94214
3628                                                  []  207731
5879   [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...   99885
...                                                  ...     ...
45148                                                 []  438910
45203  [{'id': 9648, 'name': 'Mystery'}, {'id': 878, ...  433711
45338                                                 []  335251
45410  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...  449131
45461  [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...  439050

      original_language                                           overview  \
711                  en  Seven New Zealand women speak about their live...
734                  en  Vermont is for Lovers is an independently prod...
3460                 en  Jails, Hospitals &amp; Hip-Hop is a cinematic ...
3628                 en  Tommy, a talented Puerto Rican painter living ...
5879                 en  Four friends fight an insane man's crusade to ...
...                 ...                                                ...
45148                ru  Engineering Red - 1993  Dir: Andrey I. Y. Petr...
45203                en  In a no holds barred documentary, acclaimed jo...
45338                en  An exploration of the musical and social origi...
45410                ru                                                NaN
45461                fa        Rising and falling between a man and woman.

      popularity  production_companies production_countries release_date  \
711     0.005625                   NaN                  NaN          NaT
734         0.75                   NaN                  NaN          NaT
3460    0.009057                   NaN                  NaN          NaT
3628    0.035352                   NaN                  NaN          NaT
5879    0.001181                   NaN                  NaN          NaT
...          ...                   ...                  ...          ...
45148   0.001586                   NaN                  NaN          NaT
45203    0.00022                   NaN                  NaN          NaT
45338        0.0                   NaN                  NaN          NaT
45410   0.008903                   NaN               Russia          NaT
45461   0.072051                   NaN                 Iran          NaT

       revenue  runtime                          spoken_languages    status  \
711        0.0     95.0                                        []  Released
734        0.0     88.0                                        []  Released
3460      10.0     90.0                                        []       NaN
3628       0.0    105.0                                        []  Released
5879       0.0     87.0                                        []  Released
...        ...      ...                                       ...       ...
45148      0.0     76.0                                        []  Released
45203      0.0     74.0  [{'iso_639_1': 'en', 'name': 'English'}]  Released
45338      0.0      0.0                                        []  Released
45410      0.0      NaN                                        []  Released
45461      0.0     90.0    [{'iso_639_1': 'fa', 'name': 'فارسی'}]  Released

                                                 tagline  \
711                                                  NaN
734                                                  NaN
3460   three worlds / two million voices / one genera...
3628                                                 NaN
5879                             His Judgement Cometh...
...                                                  ...
45148                                                NaN
45203                                                NaN
45338                                                NaN
45410                                                NaN
45461         Rising and falling between a man and woman

                                                title  vote_average  \
711              War Stories Our Mother Never Told Us           0.0
734                             Vermont Is for Lovers           0.0
3460                       Jails, Hospitals & Hip-Hop           0.0
3628                                   Boricua's Bond           2.0
5879                              Divine Intervention           0.0
...                                               ...           ...
45148                                 Engineering Red           6.0
45203  All Superheroes Must Die 2: The Last Superhero           4.0
45338                  The Land Where the Blues Began           0.0
45410                                           Aprel           6.0
45461                                          Subdue           4.0

       vote_count  release_year  return
711           0.0           NaN     0.0
734           0.0           NaN     0.0
3460          0.0           NaN     0.0
3628          1.0           NaN     0.0
5879          0.0           NaN     0.0
...           ...           ...     ...
45148         2.0           NaN     0.0
45203         1.0           NaN     0.0
45338         0.0           NaN     0.0
45410         1.0           NaN     0.0
45461         1.0           NaN     0.0

[90 rows x 20 columns]

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return
0,Toy Story Collection,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,NaN,United States of America,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,1995.0,12.45
1,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,NaN,United States of America,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995.0,4.04
2,Grumpy Old Men Collection,0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,NaN,United States of America,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995.0,0.00
3,NaN,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,NaN,United States of America,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,1995.0,5.09
4,Father of the Bride Collection,0.0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,NaN,United States of America,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,1995.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",439050,fa,Rising and falling between a man and woman.,0.072051,NaN,Iran,NaT,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,4.0,1.0,NaN,0.00
45462,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",111109,tl,An artist struggles to finish his work while a...,0.178241,NaN,Philippines,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,9.0,3.0,2011.0,0.00
45463,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,"When one of her hits goes wrong, a professiona...",0.903007,NaN,United States of America,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,3.8,6.0,2003.0,0.00
45464,NaN,0.0,[],227506,en,"In a small town live two brothers, one a minis...",0.003503,NaN,Russia,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,0.0,0.0,1917.0,0.00
45465,NaN,0.0,[],461257,en,50 years after decriminalisation of homosexual...,0.163015,NaN,United Kingdom,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,0.0,0.0,2017.0,0.00

In [10]:
# Guardar el DataFrame en un archivo CSV
df.to_csv('movies_dataset.csv', index=False)

Crear la columna con el retorno de inversión, llamada return con los campos revenue y budget, dividiendo estas dos últimas revenue / budget, cuando no hay datos disponibles para calcularlo, deberá tomar el valor 0.

In [11]:

# Leer el Dataset 
file_path = "movies_dataset.csv"
df = pd.read_csv(file_path)
# Calcula el ROI y asigna 0 cuando revenue o budget es 0 o no está presente


# Convierte las columnas "revenue" y "budget" al tipo numérico adecuado y reemplaza NaN con 0
df["revenue"] = pd.to_numeric(df["revenue"], errors="coerce").fillna(0)
df["budget"] = pd.to_numeric(df["budget"], errors="coerce").fillna(0)

# Calcula el ROI y asigna 0 cuando revenue o budget es 0
def calculate_roi(row):
    if row["budget"] != 0:
        return row["revenue"] / row["budget"]
    else:
        return 0

# Crea la nueva columna "return" aplicando la función calculate_roi a cada fila
df["return"] = df.apply(calculate_roi, axis=1)

# redondear el ROI a dos decimales
df["return"] = df["return"].apply(lambda x: round(x, 2))
df.head(1)

C:\Users\Pc - Jujuy\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3508: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return
0,Toy Story Collection,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,NaN,United States of America,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,1995.0,12.45

**Eliminar las columnas que no serán utilizadas,

---

video,imdb_id,adult,original_title,poster_path y homepage**

In [ ]:
columnas_a_eliminar = ['video', 'imdb_id', 'adult', 'original_title', 'poster_path', 'homepage']

# Eliminar las columnas especificadas usando el método drop()
df = df.drop(columns=columnas_a_eliminar)

In [ ]:
columns_names = df.columns.values
columns_names

array(['belongs_to_collection', 'budget', 'genres', 'id',
       'original_language', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline',
       'title', 'vote_average', 'vote_count', 'release_year', 'return'],
      dtype=object)

In [ ]:
# Guardar el DataFrame en un archivo CSV
df.to_csv('movies_dataset.csv', index=False)

In [ ]:
df.head(1)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return
0,Toy Story Collection,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,NaN,United States of America,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,1995.0,12.45